<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      table {
        margin: auto;
        background-color: antiquewhite;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center;">Result Summary</h1>
    <table id="my-table">
      <thead>
        <tr>
          <th>Company</th>
          <th>Date</th>
          <th>Student Id</th>
          <th>Student</th>
          <th>College</th>
          <th>Dsa Final Scores</th>
          <th>WebD Final Scores</th>
          <th>React Final Scores</th>
          <th>Batch</th>
          <th>Result</th>
        </tr>
      </thead>

      <% for(status of statuses){%>
      <tr>
        <% if(status.student !==null){%>
        <td><%=status.interview.company%></td>
        <td><%= status.interview.date %></td>
        <td><%= status.student._id %></td>
        <td><%= status.student.name %></td>
        <td><%= status.student.college %></td>
        <td><%= status.student.course.dsa%></td>
        <td><%= status.student.course.webD%></td>
        <td><%= status.student.course.react %></td>
        <td><%= status.student.batch %></td>
        <td><%=status.result%></td>
        <%}%>
      </tr>
      <%}%>
    </table>
    <button
      id="export"
      onclick="downloadCsv()"
      style="display: block; margin: auto; width: 100px; margin-top: 10px;"
    >
      Export To Csv
    </button>

    <script type="text/javascript">
      function downloadCsv() {
        var myTableArray = [];
        $("table#my-table tr").each(function () {
          var arrayOfThisRow = [];
          var tableData = $(this).find("td");
          if (tableData.length > 0) {
            tableData.each(function () {
              arrayOfThisRow.push($(this).text());
            });
            myTableArray.push(arrayOfThisRow);
          }
        });
        console.log(myTableArray);
        var csv = myTableArray
          .map(function (d) {
            return d.join();
          })
          .join("\n");
        console.log(csv);
        var hiddenElement = document.createElement("a");
        hiddenElement.href = "data:text/csv;charset=utf-8," + encodeURI(csv);
        hiddenElement.target = "_blank";
        hiddenElement.download = "data.csv";
        hiddenElement.click();
      }
    </script>
  </body>
</html>
